.custom-lists {
  display: flex;
  flex-direction: column;

  .custom-lists__header {
    display: flex;
    background: #4c6e8a;
  }

  .custom-lists__item {
    display: flex;
    min-width: 300px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    //color: #ffffff;
    border: #edb8b8 solid 1px;
  }

  .custom-lists__index {
    width: 40px;
    text-align: center;
    margin-right: 20px;
  }

  .custom-lists__name {
    width: 100%;
    text-align: start;
  }

  .custom-lists__footer {
    margin: 10px;
  }
}