
.expand-check-box {
  height: calc(100% - 40px);  // title height
  overflow-y: auto;

  .expand-check-box__second-elem {
    position: relative;
    left: 20px;
  }

  .expand-check-box__third-elem {
    position: relative;
    left: 20px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .expand-check-box__four-elem {
    position: relative;
    left: 20px;
  }
}

